.header {
    align-items: center;
    height: 100px;
    justify-content: space-between;
    top: 0px;
}

.header__img {
    margin-left: 30px;
    margin-top: 60px;
}

.carousel {
    overflow-x: scroll;
    padding: 30px 30px 0px 30px;
    position: relative;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.error-message {
    min-height: calc(100vh - 224px);
}
