<html>


<head>
<title>Proyecto OVNI</title>
</head>

<H1 align="center">Proyecto OVNI, búsqueda y analisis</H1>

<body bgcolor="moccasin">
<div align="center"><img src="../assets/imagen 1.jpg"></div><br><br>

<h1 align="center">Código</h1>
<p align="center">Matrices para representar los distintos tipos de objetos.
</p>
<h4 align="center">Avión</h4>
<div align="center"><img src="../assets/avion.png"></div><br><br>
<h4 align="center">Ave</h4>
<div align="center"><img src="../assets/ave.png"></div><br><br>
<h4 align="center">Dron</h4>
<div align="center"><img src="../assets/dron.png"></div><br><br>
<h4 align="center">Satélite</h4>
<div align="center"><img src="../assets/satelite.png"></div><br><br>




















<p align="center">El programa es funcional gracias a que trabaja en base a una matriz 10x10 previamente cargada en el sistema.
</p>
<h1 align="center">Descripción General</h1>
<p align="center">Funciona en base a una matriz previamente "cargada" en el programa que se encarga de encontrar patrones asignados en esta.</p>
<p align="center">Gracias a los patrones declarados, se compara la matriz principal por filas.</p><br>

<h4 align="center">Patrones Asignados.</p></h4>
<div align="center"><img src="../assets/matriz general.png"></div>


<h1 align="center">Estructura</h1>
<p align="center">Declaración de una matriz general.</p>
<p align="center">Declaración de patrones (A, B, C y D)
<h4 align="center">Patrones asignados mediante letras a Filas</h4>
<div align="center"><img src="../assets/tabla1.png"></div>
<h4 align="center">Patrones asignados según convinatoria de letras.</h4>
<div align="center"><img src="../assets/tabla2.png"></div>
<p align="center">Declaramos variables enteras y boolianas.</p>
<p align="center">Su estructura logra clasificar las imagenes mediante los patrones asiganados.</p><br>

<h1 align="center">Funcionamiento</h1>

<p align="center">Mediante la lectura de la matriz, analiza si hay existencia de alguna conbinatoria dentro de las matrices A y B establecidas.</p>
<p align="center">El programa no logra detectar combinatorias se detiene indicando al instante que el objeto corresponde a un OVNI.</p>
<p align="center">si detecta alguna convinatoria, este se encarga de clasificarlas y imprimir por pantalla el resultado obtenido con su respectivo objeto.</p><br><br><br><br>
















<h6 align="center">Diseñada y programada por: Agustin de la Sierra y Cristian Valencia Azar</h6>


</body>




</html>