<!DOCTYPE html>
<html lang="es">
<head>
<title>Programa de parquimetro.</title>
<meta charset="utf-8" />
<meta name="description" content="parquimetro">
<link rel="stylesheet" href="estilos.css" />
<link rel="shortcut icon" href="/favicon.ico" />
</head>
 
<body>
    <nav>
       
    </nav>
    <header>
       <h1>Parquimetro</h1>
       <p>Este programa está hecho para trabajar como vía de pago y detalle de cada día en un parquimetro en Temuco.</p>
       
    </header>
    <section>
       <article>
           <h2>La solucion al desorden de los estacionamientos en Temuco </h2>
           <p> Actualmente en la ciudad de Temuco habitan unas 346.021 personas y un aproximado de 70 mil vehículos circulan en ella.<br>
               Si bien todos tienen derecho a circular por la ciudad, hay que hacer una regularización para establecer un nuevo orden de tránsito.<br>
               La empresa “Transco”, dedicada a resolver estos problemas propuso hacer un programa para el cobro por estacionamiento de cada tipo de<br>
               vehículo y tiempo utilizado en lugares públicos y así comenzar con el proyecto de parquímetro en la ciudad.<br>
               Por lo que el objetivo es crear un software para los parquímetros que se instalaran en la ciudad, teniendo en cuanta que se<br> 
               le intentara dar el mayor numero de facilidades de pago a la ciudadanía.<br>
 </p>
       </article>
    </section>
    <aside>
       <h3>Desarrollo</h3>
           <p>La empresa “Trasnco” propone una solución para que pueda ejercer el parquímetro dentro de la ciudad de Temuco.<br>
              El programa que busca realizar es un sistema de cobro para todo tipo de vehículo que se estacione en lugares públicos <br>
              esto ayudara a que as personas puedan tener mas posibilidades a estacionarse por el obro que se ejecuta y también un orden en el transporte.<br><br>

               El programa debe aceptar diferentes tipos de pago (efectivo y tarjeta), debe cobrar por tipo de vehículo (auto, camioneta, …),<br>
              debe mantener registro de los socios que trabajan en la empresa prestadora del servicio para poder aplicarles un descuento extra y 
              finalmente entregar el precio final.<br>
</p>
    </aside>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EHBCjLdXx78" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <footer>
        Creado por:<br> Jorge Ignacio Guaiquil Vidal <br>Tiara Mariel Ramirez Sabattin <br>Héctor Matías Llanquinao Quiroz
    </footer>
</body>
</html>