<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <!-- Styles -->
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="stylesheet" href="../css/desktop.css" media="(min-width: 700px)">
  <!-- Title -->
  <title>Error 404</title>
</head>
<body>
  <header class="header">
    <img class="header__img" src="../assets/logo_ufro.png" alt="Logo UFRO">
</header>

  <section class="error-message">
    <div class="error-message__animation">404</div>
    <div>
        <h2>Página no encontrada</h2>
    </div>
    <div>
        <p class="error-message__back-main"> <a href="../index.html">Volver al Inicio</a></p>
    </div>
  </section>
  
  <footer class="footer">
    <p>©2021 Matthias Clein E.</p>
    <p>Todos los derechos reservados.</p>
</footer>
</body>
</html>