<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Boletería Simple Tickets</title>
    <link rel="stylesheet" href="../css/styles_grupo4.css">
</head>

<body>
<nav>
    <ul class = "menu">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Como comprar</a></li>
        <li><a href="#">Acerca de nosotros</a></li>
        <li><a href="#">Contacto</a></li>
    </ul>

</nav> 
<div class = "fondo">
        <h1 class = "titulo_inicio">Simple Tickets</h1>
        <h3 class = "sub_titulo">Diseñado por Grupo 4</h3>
</div>


   
    <div class="dos_col">

        <div class="col_izquierda">
            <h2>¿Qué es simple tickets?</h2>
            <p>Simple Tickets, en pocas palabras, es un software que facilitará la compra de entradas
                en un cine, ya que es un sistema completamente automatico.</p>

            <h2>¿En qué consiste?</h2>
            <p>Consiste en un codigo creado por nosotros mismo que recopila la informacion que introduce
            el usuario,luego nuestro software la procesa para luego imprimir la entrada del cliente.
            Una de las funciones que hemos implementado, es que el cliente tiene la opción de crear un usuario
            en caso de que no exista, estos datos serán reunidos por nuestro software para en un futuro poder 
            utilizarlos en la siguiente compra. Gracias a esta función la empresa a cargo podrá llevar la cuenta 
            de quienes han comprado, y la cantidad de nuevos clientes que tienen de acuerdo al periodo de tiempo 
            que ellos estimen conveniente.
             </p>
                
            <h2>¿Por qué decidimos crearla?</h2>
            <p>Nosotros somos consumidores habituales de peliculas, por lo que constantemente vamos al cine 
                por lo estrenos que estos nos ofrecen, pero cada vez que ingresamos nos topamos con 
                larguisimas filas interminables de las boleterias que hacen nuestra visita poco grata, por lo 
                que decidimos crear un programa que pudiese ahorrar muchisimo tiempo en la venta de entradas y asi
                poder hacer un ingreso mas expedito al cine.</p>
              <h2>Ventajas</h2>
              <ul>
                <li>Es facil y rapido de instalar</li>               
                <li>Brinda más autonomía al servicio de atención</li>
                <li>Es compatible con cualquier sistema operativo</li>

              </ul>

            <div class="video">

                    <h2>Video Explicativo </h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/RbV9w5S3Vtk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col_derecha">
            <h2>Servicios</h2>
            <ul>
                <li><a href="#">Mantencion</a></li>
                <li><a href="#">Actualizacion</a></li>
                <li><a href="#">Instalacion</a></li>
                <li><a href="#">Preguntas frecuentes</a></li>
            </ul>
              
        </div>

    </div>
    <div class="fondo_final">
    <div class="tres_col">
        <div class="col_left col">
            <h2>Horario de atención</h2>
            <ul>
                <li>Lues a viernes: 09:00 a 18:00 </li>
                <li>Sábado: 09:00 a 13:00 </li>
                <li>Domingo y festivos: cerrado</li>
            </ul>
        </div>
        <div class="col_cen col">
            <h2>Dirección</h2>
            <ul>
                <li>Univeridad de la frontera</li>
                <li>Av. Francisco Salazar #01145</li>
                <li>Temuco - Chile</li>
            </ul>
        </div>
        <div class="col_right col">
            <h2>Nuestras redes sociales</h2>   
            <div class="icono instagram"></div>
            <div class="icono facebook"></div>
            <div class="icono whatsapp"></div>
            <div class="icono twitter"></div>
        </div>
    </div>
</div>

    <div class="footer">
        <p>Todos los derechos reservados 2020</p>
    </div>
</body>

</html>