<!DOCTYPE html>
<html>
<!-- 
	...:::INTEGRANTES:::...
	Cristopher Martinez

	 -->
<!--Cabecera-->
<head>
	<title>Ingher - Pagina inicio</title>
	<meta charset="utf-8">
</head>


<!--Cuerpo-->
<body>
		<center>
			<a href="./ingher.html">
				<img src="../assets/logo.png">
			</a><br><br>
		</center>

<h2 style="text-align: center; font-family: helvetica;font-size: 14px; width: 80%; margin: 0 auto; text-align: justify;">
	
Ingher Ltda una intranet para captar potenciales clientes y a la vez el sistema de control y/o monitoreo de bodega que estará compuesta de diferentes funcionalidades.
<br><br>
Dentro del sistema de control, se crearán varios módulos, por ejemplo gestion materiales, el cual permitirá almacenar información relevante de los materiales para permitir consultas en forma exacta y rápida.
<br><br>
Se podra controlar los movimientos de entrada y salida de insumos, para determinar en mejor forma su abastecimiento como tambien agilizar el proceso de manejo de inventario, lo que permitira entregar información actualizada, útil y concisa para ayudar a la toma de decisiones.
<br><br>
Este sistema tambien permitira mantener un monitoreo de los traspasos a bodegas, con la información pertinente, evitando perdidas, desorden y evasión de responsabilidades, ademas de organizar el inventario de forma flexible, identificando y clasificando los insumos.
<br><br>
Esto ayudara a organizar el espacio de trabajo de forma eficaz, mejorando el nivel de limpieza en las bodegas, pero lo mas importante es que permitira resguardar y brindar seguridad a los datos e información almacenada en el sistema.

</h2>

<center><br>
	<img src="../assets/im1.jpg">
</center>


<!--Pie de pagina-->
<footer style="text-align: center; font-family: helvetica;">
	<h1 style="margin-top: 20px;">INGHER LTDA</h1>
	<b># Telefono 9803007</b>
	<b># Ubicación Andres Bello #222</b>
</footer> 

</body>
</html>