<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>tarea N°3</title>
        <link rel="stylesheet" href="../css/styles_grupo3.css">
    </head>
    <body>
        <header>
            <a href="https://www.ufro.cl/index.php/normas-corporativas/13-logo-ufro-transparente-png-1"><img src="../assets/ufro azul transparente.png" alt="ufro_azul_transparente"></a>
            <h1>Tala controlada de árboles</h1>
        </header>
        <section class="content">
            <div>
                <h2>Contenido</h2>
                <li>Introducción</li>
                <li>Desarrollo</li>
                <li>Conclusiones</li>
            </div>
            <hr>
            <div>
                <h2>Introducción</h2>
                <p>La tala indiscriminada de bosques provoca muchos daños al medio ambiente, el desastre ambiental ocasionado por la progresiva desaparición de la masa forestal ocasiona pérdidas ambientales incalculables y de difícil o imposible recuperación. Provocando que no pueda absorber el CO2 del ambiente provocando el calentamiento global, la contaminación también está siendo afectada por este y hay pocas regulaciones.
	Debido a esto existe una tala contralada de bosques que minimizan los daños al medio ambiente. La tala de árboles se hace para poder extraer los recursos necesarios para satisfacer las necesidades de los seres humanos, pero esto esta no tiene por qué dañar al planeta. La tala controlada de un sector de árboles depende de muchos factores que va desde la implicación del estado, hasta los productores pasando por distribuidores, y como no, los consumidores, pero los más importante es extraer menos cantidad de madera anual de la que crece en ese sector.</p>
            </div>
	 <img src="../assets/talado.jpg" alt="talado"></b>
	<div class="talado">
	https://www.scidev.net/america-latina/medio-ambiente/noticias/cientificos-identifican-sistema-usado-en-tala-ilegal-de-amazonia.html
	</div>
            <hr>
            <div class="desarrollo">
                <h2>Desarrollo</h2>
                <p>Para poder darle solución a este problema necesitamos extraer un menor volumen de árboles de la que crece en el mismo bosque, para esto creamos un programa capaz de calcular y comparar el volumen de madera del bosque con la que se quiere extraer. </p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/cCTvT-qioxw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <hr>
            <div>
                <h2>Conclusiones</h2>
                <p>En cuanto a lo acordado con anterioridad, notamos que la tala indiscriminada trae un gran número de consecuencias como por ejemplo acabar con la biodiversidad de un lugar, cambiar considerablemente el clima de un sector, esto trae consigo que el curso del agua cambie provocando en su gran mayoría inundaciones es por esto que decidimos darle una solución a largo plazo a este problema realizando una tala controlada. Con la tala controlada logramos notar cierto aumento en la reforestación de bosques. Esto trae consigo un gran beneficio no solo a nosotros como seres humanos sino también a una cierta cantidad de especies que tendrán un mejor hábitat. En consecuencia, podemos notar: 
<div>
•Reforestación con especies de árboles de rápido crecimiento. 
<div>
•Maximizar ganancias en un menor tiempo  
<div>
•Realizar una tala selectiva </p>
            </div> 
 <img src="../assets/bosque.jpg" alt="bosque"></b>     
        </section>
	</div>
        <hr>
        <footer>
            <a href="https://www.ufro.cl" target="_blank"><h3>Ir a UFRO</h3></a>
        </footer>
    </body>
</html>

