<!--Programacion de computadoras, Universidad de la Frontera
    Autores: Martin Canarios
             Luciano Heyer
             Esteban Reyes
             Ignacion Piucol
-->

<!-- Atajo para el cuerpo principal del programa "!+tab"-->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Organizador de Archivos</title>
    <link rel="stylesheet" href="../css/styles_grupo5.css"><!--para comunicar html con css -->
</head>

<body>
  <div id="Pantalla_Principal"><!--divisor para la patalla principal-->
     <header>
         <div id = "LOGO">
         
          
            <h1 class="colorgris"></h1><!--Fondo color Gris-->
            <h1 class="colorceleste"></h1><!--Fondo color celeste-->
            <h1 id="TITULO">Organizador de archivos</h1>
         </div>
         
         <div id="CUERPO"><!--Divisor cuerpo del porgrama, informacion del funcionamiento-->
            
              <img class="Logo" src="../assets/LOGOUFRO3.jpg" alt="" ><!--imagen logo de la UFRO-->
           
            <!--Infromacion con sus respectivas imagenes -->
             <p class="Texto_Introduccion">La idea principal de éste programa es facilitar la descarga y sincronización de los documentos de las plataformas educacionales, para que cuando éstos documentos mencionados se usen, 
            se haga de forma expedita y evitar tener que estár descargandolos al momento de ocuparlos o durante una reunión sincrónica. Éste programa sirve para descargar automaticamente los documentos de una 
            plataforma educacional. Funciona en 3 bloques <br></p>
            <br>
            
            <p class="Validacion">Validación:<br>
            El programa valida los datos de usuario y contraseña. <br></p>
            
            
            <p class="Obtenciondedatos">Obtención de datos:<br>
            Ya validados los datos de autentificación, se reciben del servidor las bases de datos de los archivos. <br></p>
            
            
            <p class="Descargadearchivos"> Descarga de archivos: <br>
            El programa descarga los archivos correspondientes al usuario y a la vez, los ordena por ramos/seccion/documentos. <br></p>
           
            
            <h3 class="correo">Correo Electronico</h3>
            <input class="cuadrotexto" type="text" size="15" maxlength="30"  >
            
            <h3 class="contrasena">Contraseña</h3>
            <input class="cuadrocontrasena" type="text" size="15" maxlength="30" >
            
            <a class="video" href="https://youtu.be/xPQmypqzIKY">Video de presentacion</a>
            
            <img class="imgvideo" src="../assets/imgvideo.jpg" alt="">
           
            
            
            <button class="boton">INGRESAR</button><!--Boton ingresar-->
            
            <img class="flecha" src="../assets/flechaff.jpg">
            <img class="flecha2" src="../assets/flechaff.jpg" >
           
         </div>
          
     </header>
      
  </div>
  
</body>
</html>